.Card-main_description__list {
  list-style: none;
}

.Card-main_info {
  padding: 0 25px 0 25px;
  text-align: center;
}

.Card-main_picture {
  margin: 25px 0 25px 0;
  display: flex;
  justify-content: center;
}
.Card-main_picture > img {
  width: 400px;
}
