.CardList-main {
  margin: 10px 10px 10px 10px;
  display: flex;
  gap: 10px;
}

.Card {
  border: 3px solid grey;
}

.Card-header_title {
  text-align: center;
}

.Card-main_description__list {
  list-style: none;
}

.Card-main_photo {
  margin: 25px 0 25px 0;
  display: flex;
  justify-content: center;
}
.Card-main_photo > img {
  width: 400px;
}

.Card-main_info {
  padding: 0 25px 0 25px;
  text-align: center;
}
